@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: 'Ubuntu', sans-serif;
  background: #f8f8f8;
}

.container {
  min-width: 100%;
  padding: 0 30px;
}

main {
  margin-top: 124px;
}

@media (max-width: 678px) {
  .container {
    padding: 0 10px;
  }
}

.nav-icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.nav-icon::after, .nav-icon::before,
.nav-icon span {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 14%;
  background: #000;
}

.nav-icon::after {
  bottom: 0;
}

.nav-icon span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-icon::before {
  top: 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0px 5px #888;
          box-shadow: 0 0px 5px #888;
}

.header__icon {
  width: 15px;
}

.header__info {
  background: #f3bb04;
  padding: 15px 0;
  font-size: 16px;
}

.header__info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info a {
  color: #000;
  cursor: pointer;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__location img {
  margin-right: 10px;
}

address {
  font-style: normal;
}

.header__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__connection img {
  margin-right: 10px;
}

.header__tel {
  margin-right: 20px;
}

.header__icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__icons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

.header__icons-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__icons-item button {
  font-size: 18px;
}

.header__icons-item img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__icons-item img:hover {
  opacity: .7;
}

.header__icons-item img:active {
  opacity: .3;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.header__respons {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 879px) {
  .header__respons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__icons, .header__connection, .header__location {
    display: none;
  }
}

.search-input {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  right: 100%;
}

.search-input._open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.search-input input {
  padding: 5px 15px;
  padding-right: 30px;
  font-size: 14px;
  border: 2px solid #888;
  border-radius: 5px;
}

.search-input input:focus {
  opacity: 1;
  border: 2px solid #083aff;
}

.search-input span {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
}

.search-input span::before, .search-input span::after {
  width: 90%;
  height: 2px;
  content: '';
  position: absolute;
  background: #000;
}

.search-input span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-input span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
  position: fixed;
  width: 270px;
  z-index: 7;
  height: 100vh;
  background: #222;
  right: 0;
  top: 0;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  min-height: 100%;
  overflow-y: auto;
}

.menu a {
  color: #fff;
}

.menu._open {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu__close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.menu__block {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.menu__block-1 {
  border-top: 0;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
  padding: 2px 0;
}

.header__link {
  display: block;
  margin: 5px 0;
  padding: 2px 0;
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__social-icon {
  padding: 2px;
  margin: 2px;
}

.menu__block-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 150%;
}

.menu__block-location address {
  margin-left: 10px;
}

.header__main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo img {
  height: 50px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 20px;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  opacity: .7;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.header__nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  border-radius: 50px;
  background: #f3bb04;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__nav-item:hover {
  opacity: 1;
}

.header__nav-item:hover::after {
  width: 100%;
}

.header__nav-icon {
  width: 36px;
  height: 36px;
  background: #bbb;
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-icon .material-symbols-outlined {
  font-size: 26px;
  color: #555;
}

.header__nav-link {
  padding: 30px 0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.header__button {
  background: #f3bb04;
  font-size: 14px;
  padding: 10px 15px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 20px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__button:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 2px 2px  7px #777;
          box-shadow: 2px 2px  7px #777;
}

.header__button:active {
  -webkit-box-shadow: 2px 2px  2px #777;
          box-shadow: 2px 2px  2px #777;
}

.button-icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__respons-nav {
  display: none;
  margin-right: 10px;
}

@media (max-width: 1050px) {
  .nav {
    display: none;
  }
  .header__respons-nav {
    display: block;
  }
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 879px) {
  .header__respons-nav {
    display: none;
  }
}

@media (max-width: 520px) {
  .button-icon-block {
    display: none;
    margin: 0 auto;
  }
  .header__logo img {
    height: 60px;
  }
  .header__main .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__title {
  font-size: 20px;
  background: #f3bb04;
  padding: 8px 10px;
  width: 100%;
  text-align: center;
  line-height: 150%;
  overflow: hidden;
}

.slider__title span {
  display: block;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  -webkit-animation: transform_x 7s linear  infinite alternate;
          animation: transform_x 7s linear  infinite alternate;
}

.slider {
  background: url(../../img/slider-wraper.jpg) center/cover no-repeat;
}

.swiper-slide a {
  display: block;
}

.swiper-slide img {
  max-width: 540px;
  display: block;
  margin-left: auto;
}

.swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 10px;
  height: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.swiper-pagination .swiper-pagination-bullet:hover,
.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.cards-slider div.swiper-pagination,
.clients div.swiper-pagination {
  bottom: 0;
}

.cards-slider div.swiper-pagination .swiper-pagination-bullet,
.clients div.swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #888;
}

.cards-slider div.swiper-pagination .swiper-pagination-bullet:hover,
.cards-slider div.swiper-pagination .swiper-pagination-bullet-active,
.clients div.swiper-pagination .swiper-pagination-bullet:hover,
.clients div.swiper-pagination .swiper-pagination-bullet-active {
  background: #888;
}

.swiper-slide > .cards-slider__card {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.swiper-navigation {
  font-size: 14px;
}

body .swiper-button-next:after,
body .swiper-button-prev:after {
  display: none;
}

@-webkit-keyframes transform_x {
  0% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

@keyframes transform_x {
  0% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

.swiper-slide-small {
  display: none;
}

.clients .swiper-pagination {
  display: block;
}

.slider__container {
  min-width: 0;
  position: relative;
}

.row-slide {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.slider__body {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 40px;
  color: #555;
  background: transparent;
  max-width: 540px;
  position: relative;
}

.slider__body-title {
  font-size: 46px;
  font-weight: 700;
  line-height: 150%;
}

.slider__body-descr {
  margin-top: 20px;
  font-size: 14px;
  line-height: 160%;
}

.slider__body-descr span {
  color: #f3bb04;
}

button.slider__body-button {
  padding: 10px 25px;
  font-size: 17px;
  display: inline-block;
  background: #f3bb04;
  margin-top: 20px;
  color: #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button.slider__body-button:hover {
  background: #e8a600;
}

button.slider__body-button:active {
  opacity: .3;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.slider .swiper-pagination {
  display: none;
}

@media (max-width: 620px) {
  div.slider__body {
    padding-left: 20px;
  }
  .slider__body-title {
    font-size: 32px;
    line-height: 130%;
  }
  .swiper-slide img {
    max-width: 320px;
    position: relative;
  }
}

@media (min-width: 1001px) {
  .slider .swiper-pagination {
    display: block;
  }
  .slider__body {
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.social {
  padding: 40px 0;
}

.social__title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.social__title span {
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: block;
}

.social__title h2 {
  position: relative;
  z-index: 2;
  background: #f8f8f8;
  padding: 0 10px;
}

.social__row {
  display: block;
  font-size: 24px;
  line-height: 150%;
  padding: 10px;
  background: #fff;
  color: #666;
  -webkit-box-shadow: 0 5px 15px rgba(4, 4, 4, 0.08);
          box-shadow: 0 5px 15px rgba(4, 4, 4, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__block {
  margin-right: 10px;
}

.social__block span {
  color: #f0506e;
}

.social__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__button {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
  width: 160px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #eee;
}

.social__button:hover {
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  -webkit-box-shadow: 2px 2px  7px #777;
          box-shadow: 2px 2px  7px #777;
}

.social__button:active {
  -webkit-box-shadow: 2px 2px  2px #777;
          box-shadow: 2px 2px  2px #777;
}

.social__button:nth-child(1) {
  background: #793BAA;
}

.social__button:nth-child(2) {
  background: #2AABED;
}

.social__button:nth-child(3) {
  background: #34A853;
}

.social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__btm-icon {
  height: 18px;
  margin-right: 10px;
}

.social__btm-icon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 910px) {
  .social__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.social__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cards {
  padding-bottom: 40px;
}

.cards .material-symbols-outlined {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__card {
  margin: 20px;
}

.card {
  background: #fff;
  padding: 40px 30px;
  max-width: 440px;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card__img {
  margin-bottom: 10px;
}

.card__img img {
  width: 100%;
}

.card__title {
  color: #1e87f0;
  display: block;
  line-height: 150%;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.card__info {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  line-height: 180%;
}

.card__item {
  line-height: 150%;
  margin: 0 15px;
}

.card__item strong {
  font-weight: 700;
}

.card__line {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin-bottom: 25px;
}

.card__price {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.card__price strong {
  font-weight: 700;
  font-size: 24px;
}

.card__price .red {
  color: red;
  font-weight: 700;
  font-size: 24px;
}

.card__price span {
  font-weight: 400;
  font-size: 15px;
}

.card__button {
  width: 100%;
  padding: 10px;
  background: #eee;
  font-size: 14px;
  margin-bottom: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card__button:hover {
  background: #888;
}

.card__button:active {
  background: #aaa;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__button-mini {
  width: 100%;
  padding: 10px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 20px;
  margin: 0 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card__button-mini:hover {
  background: #ccc;
}

.card__button-mini:active {
  background: #aaa;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.card__add a {
  font-size: 14px;
  display: inline-block;
  color: #1e87f0;
  border-bottom: 1px dotted #1e87f0;
  margin-right: 10px;
}

.card__add span {
  font-size: 17px;
  color: #000;
  border-bottom: 1px dotted #000;
}

.cards__button {
  padding: 10px 30px;
  background: #f3bb04;
  color: #eee;
  margin: 0 auto;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cards__button:hover {
  opacity: .7;
}

.cards__button:active {
  opacity: .3;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.material-symbols-outlined {
  font-size: 16px;
}

@media (max-width: 678px) {
  .card {
    margin: 10px;
  }
}

.form-block {
  width: 100%;
  padding: 40px 0;
  background: url(../img/form-fon.webp) center/cover no-repeat;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.form {
  text-align: center;
  padding: 20px 10px 40px;
  background: #fff;
  max-width: 560px;
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

.form__title {
  font-size: 24px;
}

.form__item-name {
  margin: 20px;
  font-size: 16px;
}

.form__item-name-row {
  margin-top: 80px;
}

.form__item {
  margin: 20px 10px;
}

.form__item input, .form__item select {
  -webkit-transition: all .4s;
  transition: all .4s;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
}

.form__item input:focus, .form__item select:focus {
  border: 1px solid #0471d6;
  background: #eee;
}

@media (max-width: 678px) {
  .form__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__list .form__item {
  position: relative;
}

.form__list .form__item::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.form__list .form__item:nth-child(1)::after {
  background: url(../../icons/person-green.svg) center/cover no-repeat;
}

.form__list .form__item:nth-child(2)::after {
  background: url(../../icons/smartphone-green.svg) center/cover no-repeat;
}

.form__list .form__item:nth-child(3)::after {
  background: url(../../icons/e-mail-green.svg) center/cover no-repeat;
}

.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__button {
  padding: 10px 30px;
  background: #f3bb04;
  color: #eee;
  margin: 0 auto;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__button:hover {
  opacity: .7;
}

.form__button:active {
  opacity: .3;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.cards-slider {
  padding: 60px 0;
  background: #fff;
}

.cards-slider .container {
  text-align: center;
}

.cards-slider__title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
  margin-bottom: 40px;
}

.cards-slider__title span {
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: block;
}

.cards-slider__title h2 {
  position: relative;
  z-index: 2;
  background: #f8f8f8;
  padding: 0 10px;
}

.cards-slider__cards > .swiper-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-swiper__button {
  padding: 10px 30px;
  background: #f3bb04;
  color: #eee;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
}

.cards-swiper__button:hover {
  opacity: .7;
}

.cards-swiper__button:active {
  opacity: .3;
  -webkit-transition: all .01s;
  transition: all .01s;
}

.advantages {
  padding: 60px 10px;
  text-align: center;
  color: #333;
}

.advantages__row {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__item {
  padding: 10px;
}

.advantages__img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.advantages__img img {
  width: 100%;
  height: 100%;
  opacity: .6;
}

.advantages__name {
  max-width: 150px;
  margin: 0 auto;
  line-height: 130%;
  font-size: 20px;
}

.advantages__descr {
  margin-top: 20px;
  max-width: 300px;
  margin: 0 auto;
  line-height: 130%;
}

.clients {
  padding: 60px 10px;
  text-align: center;
  color: #333;
}

.clients__row {
  padding-top: 20px;
}

.clients__item {
  max-width: 320px;
  margin: 10px auto;
  padding: 0 10px 10px 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.clients__img {
  width: 100%;
  margin: 20px auto;
}

.clients__img img {
  width: 100%;
}

.clients__name {
  margin: 0 auto;
  line-height: 160%;
  font-size: 20px;
  display: block;
  color: #1e87f0;
}

@media (max-width: 520px) {
  .clients {
    display: none;
  }
}

.clients-swiper-slide .swiper-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1100px) {
  .clients div.swiper-button-next::after,
  .clients div.swiper-button-prev::after {
    display: none;
  }
  .clients .swiper-pagination {
    display: none;
  }
}

.clients .map iframe {
  width: 100%;
}

.clients .map iframe div {
  width: 100%;
}

.footer {
  background: url(../img/footer-fon.jpg) center/cover no-repeat;
  width: 100%;
  color: #fff;
}

.footer .container {
  padding: 0 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__block {
  padding: 20px 15px;
  min-width: 260px;
  max-width: 360px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin: 0 auto;
}

.footer__title {
  padding-bottom: 10px;
}

.footer__line {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
}

.footer__list {
  margin-bottom: 10px;
}

.footer__item {
  line-height: 110%;
  margin: 10px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  width: 15px;
  height: 15px;
  margin: 5px;
}

.footer__icon img {
  width: 100%;
  height: 100%;
}

.change-my-color {
  fill: #fff;
}

.footer__block aside {
  overflow: auto;
}

::-moz-selection {
  color: #fff;
  background: #17A2B8;
}

::selection {
  color: #fff;
  background: #17A2B8;
}

.renge-wrapper {
  width: 100%;
  position: relative;
  color: #666;
}

.price-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 35px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-input .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.field input {
  width: 130px;
  outline: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  color: #666;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

div.slider {
  height: 9px;
  position: relative;
  background: #fff;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #888;
}

.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 2px;
  background: #e9e9e9;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 7px;
  top: -8px;
  left: 0;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #eee;
  border: 1px solid #aaa;
  pointer-events: auto;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #eee;
  border: 1px solid #aaa;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
