.cards {
   padding-bottom: 40px;
   .material-symbols-outlined{
      transform: translateY(4px);
   }
}
.cards__row {
   display: flex;
   justify-content: center;
   align-items: stretch;
   margin-bottom: 20px;
   flex-wrap: wrap;
}
.cards__card {
   margin: 20px;
}
.card {
   background: #fff;
   padding: 40px 30px;
   max-width: 440px;
   text-align: center;
   position: relative;
   overflow: hidden;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card__img {
   img{
      width: 100%;
   }
   margin-bottom: 10px;
}
.card__title {
   color: #1e87f0;
   display: block;
   line-height: 150%;
   font-size: 20px;
   margin-bottom: 20px;
   font-weight: 300;
}
.card__info {
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 20px;
   line-height: 180%;
}
.card__item {
   strong{
      font-weight: 700;
   }
   line-height: 150%;
   margin: 0 15px;
}
.card__line {
   width: 100%;
   height: 1px;
   background: #e5e5e5;
   margin-bottom: 25px;
}
.card__price {
   font-size: 14px;
   font-weight: 300;
   margin-bottom: 10px;
   strong{
      font-weight: 700;
      font-size: 24px;
   }
   .red{
      color: red;
      font-weight: 700;
      font-size: 24px;
   }
   span{
      font-weight: 400;
      font-size: 15px;
   }
}
.card__button {
   width: 100%;
   padding: 10px;
   background: #eee;
   font-size: 14px;
   margin-bottom: 20px;
   transition: all .3s;
   &:hover{
      background: #888;
   }
   &:active{
      background: #aaa;
      transition: all .01s;
   }
}
.card__buttons{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.card__button-mini{
   width: 100%;
   padding: 10px 20px;
   flex: 1 1 50%;
   border: 1px solid #ccc;
   font-size: 14px;
   margin-bottom: 20px;
   margin: 0 10px;
   transition: all .3s;
   &:hover{
      background: #ccc;
   }
   &:active{
      background: #aaa;
      transition: all .01s;
   }
}
.card__add {
   a{
   font-size: 14px;
   display: inline-block;
   color: #1e87f0;
   border-bottom: 1px dotted #1e87f0;
   margin-right: 10px;
   }
   span{
      font-size: 17px;
      color: #000;
      border-bottom: 1px dotted #000;
   }
}
.cards__button {
   padding: 10px 30px;
   background: $color-main;
   color:#eee;
   margin: 0 auto;
   display: block;
   transition: all .3s;
   &:hover{
      opacity: .7;
   }
   &:active{
      opacity: .3;
      transition: all .01s;
   }
}
.material-symbols-outlined{
   font-size: 16px;
}
@media (max-width:678px) {
   .card{
      margin: 10px;
   }
}