.clients {
   padding: 60px 10px;
   text-align: center;
   color: #333;
}
.clients__row {
   padding-top: 20px;
}
.clients__item {
   max-width: 320px;
   margin: 10px auto;
   padding:0 10px 10px 10px; 
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

}
.clients__img {
   
   width:100%;
   img {
   width:100%;
   }
   margin: 20px auto;

}
.clients__name {
   margin: 0 auto;
   line-height: 160%;
   font-size: 20px;
   display: block;
   color: #1e87f0;
}
@media (max-width:520px) {
   .clients{
      display: none;
   }
}

.clients-swiper-slide{
    .swiper-slide{
      width: 100%;
      display: flex;
      justify-content: center;
   }
}
@media (min-width:1100px) {
 .clients div.swiper-button-next::after,
 .clients div.swiper-button-prev::after{
   display: none;
}
.clients .swiper-pagination{
   display: none;
}
}
.clients .map iframe{
   width: 100%;
   div {
      width: 100%;
   }
}