.social {
padding: 40px 0; 
}
.social__title {
   font-size: 30px;
   font-weight: 300;
   text-align: center;
   display: inline-block;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 20px;
   margin-bottom: 20px;
   span{
      width: 100%;
      height: 1px;
      background: #eee;
      position: absolute;
      flex: 1 0 100%;
      display: block;
}
h2{
   position: relative;
   z-index: 2;
   background: #f8f8f8;
   padding:0 10px;
}
}

.social__row {
   display: block;
   font-size: 24px;
   line-height: 150%;
   padding: 10px;
   background: #fff;
   color: #666;
   box-shadow: 0 5px 15px rgba(4, 4, 4, 0.08);
   display: flex;
   align-items: center;
   justify-content: center;
}
.social__block {
   span {
      color: #f0506e;
   } 
   margin-right: 10px;
}
.social__buttons {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.social__button{
   display: block;
   text-align: center;
   margin: 10px;
   padding: 10px 20px;
   width: 160px;
   transition: all .3s;
   &:hover{
      transform: translate(-2px, -2px);
      box-shadow: 2px 2px  7px #777;
   }
   &:active{
      box-shadow: 2px 2px  2px #777;
   }
   color: #eee;
   &:nth-child(1){
      background: #793BAA;
   }
   &:nth-child(2){
      background: #2AABED;
   }
   &:nth-child(3){
      background: #34A853;
   }
}

.social__button {
   display: flex;
   align-items: center;
   justify-content: center;
}
.social__btm-icon {
   height: 18px;
margin-right: 10px;
img {
width:100%;
height:100%;
}
}
@media (max-width:910px) {
   .social__row{
      flex-wrap: wrap;
   }
   div.social__buttons{
      flex-wrap: wrap;
      flex: 0 1 auto;
      justify-content: center;
   }
}