

.nav-icon{
   display: block;
   width: 30px;
   height: 18px;
   position: relative;
   &::after,
   &::before,
   span{
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 14%;
      background: #000;
   }
   &::after{
   bottom: 0;
   }
   span{
      top: 50%;
      transform: translateY(-50%);
   }
   &::before{
      top: 0;
   }
   cursor: pointer;
}

